Source: nss-dns4only
Section: admin
Priority: extra
Maintainer: Walter Doekes <wjdoekes+nss-dns4only@osso.nl>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://github.com/ossobv/nss-dnsonly

Package: libnss-dns4only
Architecture: any
Multi-Arch: foreign
# Setting ${shlibs:Depends} manually here, because:
#
# $ dpkg-shlibdeps -v -v debian/libnss-dns4only/.../libnss_dns4only-0.1.so
# ...
# Using symbols file /var/lib/dpkg/info/libc6:amd64.symbols for libc.so.6
# ...
#  Looking up symbol __stack_chk_fail@GLIBC_2.4
#  Found in symbols file of libc.so.6 (minver: 2.4, dep: libc6 #MINVER#)
# ...
#  Looking up symbol _nss_dns_gethostbyname3_r@GLIBC_PRIVATE
#  Found in symbols file of libnss_dns.so.2 (minver: 0, dep: libc6 (>> 2.27),
#   libc6 (<< 2.28))
#
# $ cat debian/substvars
# shlibs:Depends=libc6 (>= 2.4), libc6 (>> 2.27), libc6 (<< 2.28)
#
# It has no version info for _nss_dns_gethostbyname3_r@GLIBC_PRIVATE,
# but I happen to know it exists since glibc 2.3.4. And _our_
# _nss_dns_gethostbyname4_r will not be used until glibc 2.9.
Depends: ${misc:Depends}, libc6 (>= 2.9)
Description: nss module removing gratuitous AAAA lookups
 nss-dns4only is a plug-in module for the GNU Name Service Switch (NSS)
 functionality of the GNU C Library (glibc), replacing getaddrinfo() calls
 for AF_UNSPEC with AF_INET: if your program doesn't specify that it wants
 AF_INET6, it will get A-record lookups only.
 .
 This module works around issues in IPv4 environments where the simultaneous
 A+AAAA records lookup add overhead (and in some cases: trouble).
 .
 Installing this package automatically adds the module to /etc/nsswitch.conf.
